# Python cache files
__pycache__/
*.py[cod]
*$py.class

# OS junk files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
ENV/
.venv/
.VENV/

# Installed packages
Lib/
**/site-packages/

# IDE config files
.vscode/
.idea/

# Log files
*.log
