<!DOCTYPE html>
% rebase('osnova.html', naslov='Moje rezervacije', stran='moje_rezervacije')
<html>
<head>
    <title>Moje rezervacije</title>
</head>
<body>
    <h1>Moje rezervacije</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Lokacija</th>
                <th>Parkirno mesto</th>
                <th>Registrska številka</th>
                <th>Prihod</th>
                <th>Odhod</th>
                <th>Možnosti</th>
            </tr>
        </thead>
        <tbody>
            % for r in rezervacije:
            <tr>
                <td>{{r.lokacija}}</td>
                <td>{{r.id_parkirnega_mesta}}</td>
                <td>{{r.registrska_stevilka}}</td>
                <td>{{r.prihod}}</td>
                <td>{{r.odhod}}</td>
                % if r.prihod <= now <= r.odhod:
                <td>
                    <a href="/preklici_rezervacijo/{{r.lokacija}}/{{r.id_parkirnega_mesta}}">
                        <button type="button">Prekliči</button>
                    </a>
                    <a href="/podaljsaj_rezervacijo?lokacija={{r.lokacija}}&id_parkirnega_mesta={{r.id_parkirnega_mesta}}&prihod={{r.prihod}}">
                        <button type="button">Podaljšaj</button>
                    </a>
                </td>
                % else:
                <td>Rezervacija je potekla</td>
                % end
            </tr>
            % end
        </tbody>
    </table>

</body>
</html>
