<!DOCTYPE html>
%rebase('osnova.html', naslov='Osebe', stran='osebe')

<div >
    <h2>Seznam vseh uporabnikov</h2>    
       <br>
      <br>  
    <div style="display: flex;">

    <div style="flex:1;">
      <table class="table">
        <thead>
            <tr>
                
                <th>Ime</th>
                <th>Priimek</th>
                <th>Uporabniško ime</th>
                <th>EMŠO</th>
                <th>Telefonska številka</th>   
                <th>Registrska številka</th>  
                <th>TRR</th>  
             </tr>
        </thead>
     
      %for oseba in osebe:
        <tr>
           <td>{{osebe.ime}}</td>           
           <td>{{osebe.priimek}}</td>
           <td>{{osebe.uporabnisko_ime}}</td> 
           <td>{{osebe.emso}}</td>
           <td>{{osebe.telefonska_stevilka}}</td>
           <td>{{osebe.registrska_stevilka}}</td>
           <td>{{osebe.trr}}</td>
        </tr>
      %end
      </table>



    </div>    

    </div>
   
</div>