<!DOCTYPE html>
%rebase('osnova.html', naslov='Podrobnosti parkirišča', stran='parkirišča')

<div>
  <h2>Parkirišče: {{parkirisce.lokacija}}</h2>
  <p><strong>ID:</strong> {{parkirisce.id}}</p>
  <p><strong>Število vseh parkirnih mest:</strong> {{parkirisce.dnevni_na_voljo}}</p>

  <h3>Seznam parkirnih mest</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Št. mesta</th>
        <th>Zasedenost</th>
      </tr>
    </thead>
    <tbody>
       % for i, zasedeno in mesta_status:
    <tr>
      <td>{{i}}</td>
      <td>{{'Zasedeno' if zasedeno else 'Prosto'}}</td>
      % end
    </tr>
    </tbody>
  </table>

  <a href="{{url('/')}}">Nazaj</a>
</div>

