<!DOCTYPE html>
%rebase('osnova.html', naslov='Podrobnosti parkirišča', stran='parkirišča')

<div>
  <h2>Parkirišče: {{parkirisce.lokacija}}</h2>
  <p><strong>ID:</strong> {{parkirisce.id}}</p>
  <p><strong>Dnevni na voljo:</strong> {{parkirisce.dnevni_na_voljo}}</p>
  <p><strong>Dnevni zasedeni:</strong> {{parkirisce.dnevni_zasedeni}}</p>

  <h3>Seznam parkirnih mest</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Št. mesta</th>
        <th>Zasedenost</th>
        <th>Čas prihoda</th>
        <th>Čas odhoda</th>
        <th>Rezervacija</th>
      </tr>
    </thead>
   <tbody>
  % for i, zasedeno in mesta_status:
    <tr>
      <td>{{i}}</td>
      <td>{{'Zasedeno' if zasedeno else 'Prosto'}}</td>
      <td></td>
      <td></td>
      % if zasedeno:
        <td>-</td>
      % else:
        <td><a href="/rezervacija/{{i}}/{{parkirisce.lokacija}}">Rezervacija</a></td>
      % end
    </tr>
  % end
</tbody>


  </table>

  <a href="{{url('/')}}">Nazaj</a>
</div>



