<!DOCTYPE html>
%rebase('osnova.html', naslov='Dodajanje rezervacije', stran='dodaj_rezervacijo')

<form action="{{url('/dodaj_rezervacijo')}}" method="POST" style="width: 60%; margin-left: 5%;">
  <div class="form-group">
    <label for="racun">Račun</label>      
    <select class="form-select" name="racun" id="racun">
      <option value="" disabled selected>Izberi račun</option>
      % for oseba in osebe:
        <option value="{{oseba.stevilka_racuna}}">{{oseba.ime + " " + oseba.priimek}}</option>
      % end
    </select> 
  </div>

  <div class="form-group">
    <label for="cas">Datum transakcije</label>
    <input type="datetime-local" class="form-control" name="cas" id="cas">
  </div>

  <div class="form-group">
    <label for="znesek">Znesek</label>
    <input class="form-control" type="number" step="0.001" name="znesek" id="znesek">      
  </div>

  <div class="form-group">
    <label for="opis">Opis</label>
    <textarea class="form-control" name="opis" id="opis"></textarea>      
  </div>      

  <br>
  <button type="submit" class="btn btn-primary">Dodaj transakcijo</button>
</form>
